---
# Copy this file to ansible/group_vars/all/vault.yml and encrypt it:
# ansible-vault encrypt ansible/group_vars/all/vault.yml

wg_ru_private_key: CHANGEME
wg_ru_public_key: CHANGEME
wg_non_ru_private_key: CHANGEME
wg_non_ru_public_key: CHANGEME
wg_udp2raw_password: CHANGEME

xray_client_id: CHANGEME-UUID
xray_reality_private_key: CHANGEME
xray_reality_public_key: CHANGEME
xray_short_id: CHANGEME

monitoring_telegram_bot_token: CHANGEME
monitoring_telegram_chat_id: CHANGEME
monitoring_public_basic_auth_password: CHANGEME
