UI_LISTEN_ADDRESS={{ xray_user_ui_listen_address | quote }}
UI_PORT={{ xray_user_ui_port | quote }}
UI_USERNAME={{ xray_user_ui_basic_auth_user | quote }}
UI_PASSWORD={{ xray_user_ui_basic_auth_password | quote }}
XRAY_CONFIG_PATH={{ xray_config_path | quote }}
XRAY_CLIENTS_PATH={{ xray_clients_path | quote }}
XRAY_BINARY_PATH={{ xray_binary_path | quote }}
XRAY_PUBLIC_HOST={{ xray_user_ui_public_host | quote }}
XRAY_PORT={{ xray_port | quote }}
XRAY_SNI={{ xray_sni | quote }}
XRAY_PUBLIC_KEY={{ xray_reality_public_key | quote }}
XRAY_SHORT_ID={{ xray_short_id | quote }}
XRAY_DEFAULT_FLOW={{ xray_default_client_flow | quote }}
XRAY_FINGERPRINT={{ xray_user_ui_fingerprint | quote }}
