[Unit]
Description=udp2raw transport for WireGuard {{ wg_interface }}
Documentation=https://github.com/wangyu-/udp2raw
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart={{ wg_udp2raw_binary_path }} {{ wg_udp2raw_role_flag }} -l {{ wg_udp2raw_listen }} -r {{ wg_udp2raw_remote }} -k {{ wg_udp2raw_password }} --raw-mode {{ wg_udp2raw_raw_mode }} {{ wg_udp2raw_extra_args | join(' ') }}
Restart=always
RestartSec=3
AmbientCapabilities=CAP_NET_ADMIN CAP_NET_RAW
CapabilityBoundingSet=CAP_NET_ADMIN CAP_NET_RAW
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
