{% set node_exporter_listen_address = monitoring_node_exporter_listen_address %}
{% if inventory_hostname in groups.get('monitoring', []) %}
{% set node_exporter_listen_address = monitoring_node_exporter_monitoring_listen_address %}
{% endif %}
ARGS="--web.listen-address={{ node_exporter_listen_address }}:{{ monitoring_node_exporter_port }} --collector.textfile.directory={{ monitoring_node_exporter_textfile_dir }}"
