[Unit]
Description=Collect WireGuard iperf3 speedtest metrics periodically

[Timer]
OnBootSec=5m
OnUnitActiveSec={{ monitoring_speedtest_interval }}
AccuracySec=1m
Persistent=true

[Install]
WantedBy=timers.target
