#!/usr/sbin/nft -f

flush ruleset

table inet filter {
  chain input {
    type filter hook input priority filter;
    policy drop;

    ct state established,related accept
    iif lo accept
    ip protocol icmp accept
    ip6 nexthdr icmpv6 accept

{% for port in firewall_ru_tcp_ports + firewall_ru_extra_tcp_ports %}
    tcp dport {{ port }} accept
{% endfor %}
{% for port in firewall_ru_udp_ports + firewall_ru_extra_udp_ports %}
    udp dport {{ port }} accept
{% endfor %}
  }

  chain forward {
    type filter hook forward priority filter;
    policy accept;
  }

  chain output {
    type filter hook output priority filter;
    policy accept;
  }
}
