TELEGRAM_BOT_TOKEN={{ monitoring_telegram_bot_token | quote }}
TELEGRAM_CHAT_ID={{ monitoring_telegram_chat_id | quote }}
TELEGRAM_API_URL={{ monitoring_telegram_api_url | quote }}
TELEGRAM_PARSE_MODE={{ monitoring_telegram_parse_mode | quote }}
DEAD_MAN_SWITCH_ALERTNAME=ProxyAlertingDeadManSwitch
DEAD_MAN_SWITCH_TIMEOUT_SECONDS={{ monitoring_dead_man_switch_timeout_seconds | quote }}
DEAD_MAN_SWITCH_CHECK_INTERVAL_SECONDS={{ monitoring_dead_man_switch_check_interval_seconds | quote }}
