[Unit]
Description=Alertmanager Telegram relay
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
EnvironmentFile={{ monitoring_telegram_relay_env_path }}
ExecStart={{ monitoring_telegram_relay_path }}
Restart=always
RestartSec=5
NoNewPrivileges=true
PrivateTmp=true
ProtectSystem=full
ProtectHome=true

[Install]
WantedBy=multi-user.target
