ARGS="--config.file={{ monitoring_alertmanager_config_path }} \
--web.listen-address={{ monitoring_alertmanager_listen_address }}:{{ monitoring_alertmanager_port }} \
--cluster.listen-address={{ monitoring_alertmanager_cluster_listen_address }}"
