ARGS="--config.file={{ monitoring_prometheus_config_path }} --storage.tsdb.retention.time={{ monitoring_prometheus_retention_time }} --web.listen-address={{ monitoring_prometheus_listen_address }}:{{ monitoring_prometheus_port }}"
