PROMETHEUS_URL="http://{{ monitoring_prometheus_listen_address }}:{{ monitoring_prometheus_port }}"
UI_LISTEN_ADDRESS="{{ monitoring_ui_listen_address }}"
UI_PORT="{{ monitoring_ui_port }}"
UI_INDEX="{{ monitoring_ui_index_path }}"
