{
  "log": {
    "loglevel": "{{ xray_loglevel }}"
  },
  "inbounds": [
    {
      "port": {{ xray_port }},
      "protocol": "vless",
      "settings": {
        "clients": [
{% for client in xray_effective_clients %}
          {
            "id": "{{ client.id }}"{% if client.flow is defined and client.flow | length > 0 %},
            "flow": "{{ client.flow }}"{% endif %}{% if client.email is defined and client.email | length > 0 %},
            "email": "{{ client.email }}"{% endif %}
          }{% if not loop.last %},{% endif %}
{% endfor %}
        ],
        "decryption": "none"
      },
      "sniffing": {
        "enabled": {{ xray_sniffing_enabled | bool | to_json }},
        "destOverride": {{ xray_sniffing_dest_override | to_json }},
        "routeOnly": {{ xray_sniffing_route_only | bool | to_json }}
      },
      "streamSettings": {
        "network": "tcp",
        "security": "reality",
        "realitySettings": {
          "show": false,
          "dest": "{{ xray_dest }}",
          "xver": 0,
          "serverNames": [
            "{{ xray_sni }}"
          ],
          "privateKey": "{{ xray_reality_private_key }}",
          "shortIds": [
            "{{ xray_short_id }}"
          ]
        }
      }
    }
  ],
  "routing": {
    "domainStrategy": "{{ xray_domain_strategy }}",
    "rules": [
{% if xray_client_dns_direct_enabled | bool %}
      {
        "type": "field",
        "network": "tcp,udp",
        "port": "{{ xray_client_dns_direct_ports }}",
        "outboundTag": "{{ xray_direct_outbound_tag }}"
      },
{% endif %}
      {
        "type": "field",
        "domain": {{ xray_ru_domains | to_json }},
        "outboundTag": "{{ xray_direct_outbound_tag }}"
      },
      {
        "type": "field",
        "ip": {{ xray_ru_ips | to_json }},
        "outboundTag": "{{ xray_direct_outbound_tag }}"
      }
    ]
  },
  "outbounds": [
    {
      "protocol": "freedom",
      "tag": "{{ xray_default_outbound_tag }}",
      "settings": {
        "domainStrategy": "UseIPv4"
      },
      "streamSettings": {
        "sockopt": {
          "mark": {{ routing_mark }}
        }
      }
    },
    {
      "protocol": "freedom",
      "tag": "{{ xray_direct_outbound_tag }}",
      "settings": {
        "domainStrategy": "UseIPv4"
      }
    }
  ]
}
